@use '../styles/variables' as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: $spacing-xl 0;
  width: 100%;
}

@media (max-width: $breakpoint-md) {
  .main {
    padding: $spacing-lg 0;
  }
}